<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Vocup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Vocup.Properties.Settings>
            <setting name="GridLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="last_file" serializeAs="String">
                <value />
            </setting>
            <setting name="sonderzeichen_registerkarte" serializeAs="String">
                <value>deutsch</value>
            </setting>
            <setting name="max" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="startscreen" serializeAs="String">
                <value>willkommensbild</value>
            </setting>
            <setting name="prozent_noch_nicht" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="prozent_richtig" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="prozent_falsch" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="show_practise_result_list" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="auto_save" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="notensystem" serializeAs="String">
                <value>ch</value>
            </setting>
            <setting name="papiereinzug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="auto_update" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checked_for_updates" serializeAs="String">
                <value />
            </setting>
            <setting name="colored_textfields" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nearly_correct_blank_char" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nearly_correct_punctuation_char" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nearly_correct_special_char" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nearly_correct_artical" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nearly_correct_synonym" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="backup_folder" serializeAs="String">
                <value />
            </setting>
            <setting name="only_one_click" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="selber_bewerten" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="path_vhf" serializeAs="String">
                <value />
            </setting>
            <setting name="path_vhr" serializeAs="String">
                <value />
            </setting>
            <setting name="startup_counter" serializeAs="String">
                <value>0</value>
            </setting>
        </Vocup.Properties.Settings>
    </userSettings>
</configuration>