<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Vocup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Vocup.Properties.Settings>
      <setting name="GridLines" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastFile" serializeAs="String">
        <value />
      </setting>
      <setting name="SpecialCharTab" serializeAs="String">
        <value>de</value>
      </setting>
      <setting name="MaxPracticeCount" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="StartScreen" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PracticePercentageUnpracticed" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="PracticePercentageCorrect" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="PracticePercentageWrong" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="PracticeShowResultList" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoSave" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PracticeGradeCulture" serializeAs="String">
        <value>de-DE</value>
      </setting>
      <setting name="DisableInternetServices" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastInternetConnection" serializeAs="String">
        <value />
      </setting>
      <setting name="EvaluateTolerateWhiteSpace" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EvaluateToleratePunctuationMark" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EvaluateTolerateSpecialChar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EvaluateTolerateArticle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PracticeFastContinue" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PracticeSoundFeedback" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UserEvaluates" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VhfPath" serializeAs="String">
        <value />
      </setting>
      <setting name="VhrPath" serializeAs="String">
        <value />
      </setting>
      <setting name="StartupCounter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PracticeInputBackColor" serializeAs="String">
        <value>250, 250, 150</value>
      </setting>
      <setting name="ColumnResize" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EvaluateTolerateNoSynonym" serializeAs="String">
        <value>True</value>
      </setting>
    </Vocup.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
  </appSettings>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
