<h1>Counter</h1>

<p>Current count: @currentCount</p>

<form>
    @for (int i = 0; i < currentCount; i++)
    {
    <input type="text" />        
    }
</form>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
